.NavBar {
  padding: 20px;
  display: flex;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
  text-align: center;
}


.App>h1{
  text-align: center;
  margin: 10px;
}

.SearchBar {
  float: right;
}

.App>.NavBar {
  background-color: black;
  max-width: none;
}